:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  /*Font size*/
  --para: 15px;
  /* Font */
  --family: "Outfit", sans-serif;
  --weight-normal: 400;
  --weight-bold: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
